# **Basic Data Type**

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

x = "Hello World"	-----------str	
x = 20	------------int	
x = 20.5	------------float	
x = 1j	--------complex	
x = ["apple", "banana", "cherry"]	-----------list	
x = ("apple", "banana", "cherry")	----------tuple	
x = range(6)	-----------range	
x = {"name" : "John", "age" : 36}	---------------dict	
x = {"apple", "banana", "cherry"}	-----------set	
x = frozenset({"apple", "banana", "cherry"})	-----------frozenset(Frozen set is just an immutable version of a Python set object.)	
x = True	------------bool	
x = b"Hello"	----------bytes	
x = bytearray(5)	----------bytearray	
x = memoryview(bytes(5))	--------memoryview	
x = None	-----------NoneType

In [1]:
#You can get the data type of any object by using the type() function

x = 5
print(type(x))

<class 'int'>

**1.Python Numbers**

There are three numeric types in Python:

* int
* float
* complex

In [2]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Random Numbers** -
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [3]:
import random

print(random.randrange(1, 10))    #randrange() returns a random number between the given range

3

In [4]:
#random()	Returns a random float number between 0 and 1

print(random.random())

0.15022836701500664

In [5]:
#randint()	Returns a random number between the given range

print(random.randint(1,10))

1

Python Casting

In [6]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

**2.Python Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [7]:
print("Hello")
print('Hello')

Hello
Hello

In [8]:
#Assign String to a Variable

a = "Hello"
print(a)

Hello

In [9]:
# Multiline Strings
# You can use three double quotes

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [10]:
# You can use three single quotes

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [11]:
# Strings are Arrays

a = "Hello, World!"
print(a[1])

e

In [12]:
# Looping Through a String

for x in "banana":
  print(x)

b
a
n
a
n
a

In [13]:
# String Length

a = "Hello, World!"
print(len(a))

13

In [14]:
# To check if a certain phrase or character is present in a string, we can use the keyword in.

txt = "The best things in life are free!"
print("free" in txt)

True

In [15]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [16]:
# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [17]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [18]:
# Slicing

b = "Hello, World!"
print(b[2:5])

llo

In [19]:
# Slice From the Start

b = "Hello, World!"
print(b[:5])

Hello

In [20]:
# Slice To the End

b = "Hello, World!"
print(b[2:])

llo, World!

In [21]:
# Negative Indexing

b = "Hello, World!"
print(b[-5:-2])

orl

In [22]:
# The upper() method returns the string in upper case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [23]:
# The lower() method returns the string in lower case

a = "Hello, World!"
print(a.lower())

hello, world!

In [24]:
# The strip() method removes any whitespace from the beginning or the end

a = " Hello, World! "
print(a.strip())

Hello, World!

In [25]:
# The replace() method replaces a string with another string

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [26]:
# The split() method splits the string into substrings if it finds instances of the separator

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [27]:
# To concatenate, or combine, two strings you can use the + operator

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [28]:
# To add a space between them, add a " "

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [29]:
# String Format

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [30]:
age = 34
print(f"My name is John, and I am {age}")

My name is John, and I am 34

In [31]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [32]:
# The escape character allows you to use double quotes when you normally would not be allowed

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Joins the elements of an iterable to the end of the string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning

In [33]:
# Upper case the first letter in this sentence

txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [34]:
#  if the first character is a number

txt = "36 is my age."
x = txt.capitalize()
print (x)

36 is my age.

In [35]:
# Python String casefold() Method

txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [36]:
# The center() method will center align the string, using a specified character (space is default) as the fill character.
# string.center(length, character)
# length	Required. - The length of the returned string
#character	Optional. - The character to fill the missing space on each side. Default is " " (space)

txt = "banana"
x = txt.center(20)
print(x)

       banana

In [37]:
# Using the letter "O" as the padding characte
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

In [38]:
# The count() method returns the number of times a specified value appears in the string.

# string.count(value, start, end)

# value	(Required). A String. The string to value to search for
# start	(Optional). An Integer. The position to start the search. Default is 0
# end	(Optional). An Integer. The position to end the search. Default is the end of the string

txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [39]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

In [40]:
# Check if the string ends with a punctuation sign (.)

txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [41]:
# Check if the string ends with the phrase "my world."

txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

In [42]:
# Check if position 5 to 11 ends with the phrase "my world."

txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

In [43]:
# The expandtabs() method sets the tab size to the specified number of whitespaces.

txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

H e l l o

In [44]:
# The find() method finds the first occurrence of the specified value.
# The find() method returns -1 if the value is not found.

txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

In [45]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?

txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [46]:
# The index() method finds the first occurrence of the specified value.

# The index() method raises an exception if the value is not found.

txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [47]:
# Check if all the characters in the text are alphanumeric

txt = "Company12"
x = txt.isalnum()
print(x)

True

In [48]:
# Check if all the characters in the text are letters

txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [49]:
# Check if all the characters in a string are decimals (0-9)

txt = "1234"
x = txt.isdecimal()
print(x)

True

In [50]:
# Check if all the characters in the text are digits

txt = "50800"
x = txt.isdigit()
print(x)

True

In [51]:
# The isidentifier() method returns True if the string is a valid identifier, otherwise False.

# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). 
# A valid identifier cannot start with a number, or contain any spaces.

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [52]:
# Check if all the characters in the text are in lower case

a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [53]:
# The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False\

txt = "565543"
x = txt.isnumeric()
print(x)

True

In [54]:
# Check if all the characters in the text are whitespaces

txt = "   "
x = txt.isspace()
print(x)

True

In [55]:
# Check if each word start with an upper case letter

a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [56]:
# Check if all the characters in the text are in upper case

txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True

In [57]:
# Join all items in a tuple into a string, using a hash character as separator

myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [58]:
# Join all items in a dictionary into a string, using the word "TEST" as separator

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

nameTESTcountry

In [59]:
# Return a 20 characters long, left justified version of the word "banana"

txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [60]:
# Remove spaces to the left of the string

txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [61]:
# Remove the leading characters

txt = ",,,,,ssaaww.....banana"
x = txt.lstrip(",.asw")
print(x)

banana

In [62]:
# The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
#The first element contains the part before the specified string.
#The second element contains the specified string.
#The third element contains the part after the string.

txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [63]:
# The rfind() method finds the last occurrence of the specified value.

txt = "Hello, welcome to my world."
x = txt.rfind("e")
print(x)

13

In [64]:
# The startswith() method returns True if the string starts with the specified value, otherwise False.

txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [65]:
# The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

txt = "50"
x = txt.zfill(10) #length
print(x)

0000000050

In [66]:
# The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

In [67]:
# The splitlines() method splits a string into a list. The splitting is done at line breaks.

txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

**3.Boolean Values**

Booleans represent one of two values: True or False.

In [68]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [69]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [70]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [71]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

**4. Python Lists**

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [72]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [73]:
# To determine how many items a list has, use the len() function

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [74]:
# A list can contain different data types

list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [75]:
# List items are indexed and you can access them by referring to the index number

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [76]:
# Negative indexing means start from the end

# -1 refers to the last item, -2 refers to the second last item etc

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [77]:
# You can specify a range of indexes by specifying where to start and where to end the range.

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [78]:
# This example returns the items from the beginning to, but NOT including, "kiwi"

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [79]:
# By leaving out the end value, the range will go on to the end of the list

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [80]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [81]:
# To determine if a specified item is present in a list use the in keyword

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [82]:
# To change the value of a specific item, refer to the index number

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [83]:
# To change the value of items within a specific range, 
# define a list with the new values, and 
# refer to the range of index numbers where you want to insert the new values

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [84]:
# If you insert more items than you replace, 
# the new items will be inserted where you specified, and 
# the remaining items will move accordingly

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [85]:
# If you insert less items than you replace, 
# the new items will be inserted where you specified, and 
# the remaining items will move accordingly

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [86]:
# The insert() method inserts an item at the specified index

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [87]:
# To add an item to the end of the list, use the append() method

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [88]:
# To append elements from another list to the current list, use the extend() method

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [89]:
# The extend() method does not have to append lists, 
# you can add any iterable object (tuples, sets, dictionaries etc.).

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [90]:
# The remove() method removes the specified item.

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [91]:
# The pop() method removes the specified index

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [92]:
# If you do not specify the index, the pop() method removes the last item.

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [93]:
# The del keyword also removes the specified index

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [94]:
# The del keyword can also delete the list completely.

thislist = ["apple", "banana", "cherry"]
del thislist

In [95]:
# The clear() method empties the list.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [96]:
# You can loop through the list items by using a for loop

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [97]:
# You can also loop through the list items by referring to their index number.

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [98]:
# List Comprehension offers the shortest syntax for looping through lists

thislist1 = ["apple", "banana", "cherry"]
print([x for x in thislist1 if "a" in x])

['apple', 'banana']

In [99]:
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [100]:
# Sort the list descending

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [101]:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters.

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [102]:
# Perform a case-insensitive sort of the list

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [103]:
# The reverse() method reverses the current sorting order of the elements.

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [104]:
# Make a copy of a list with the copy() method

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [105]:
# Join Two Lists

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**5. Python Tuples**

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc

In [106]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [107]:
# To determine how many items a tuple has, use the len() function

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [108]:
# To create a tuple with only one item, 
#you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [109]:
# Access Tuple Items

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [110]:
# Print the last item of the tuple

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [111]:
# Return the third, fourth, and fifth item

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [112]:
# To determine if a specified item is present in a tuple use the in keyword

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [113]:
# Add tuple to a tuple.

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [114]:
# Convert into a list to add

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [115]:
# Tuples are unchangeable, so you cannot remove items from it
# Convert the tuple into a list, remove "apple", and convert it back into a tuple

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [116]:
# The del keyword can delete the tuple completely

thistuple = ("apple", "banana", "cherry")
del thistuple

In [117]:
# Unpacking a tuple

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [118]:
# Join two tuples

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [119]:
# Multiply the fruits tuple by 2

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [120]:
# Python Tuple count() Method

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

In [121]:
# Search for the first occurrence of the value 8, and return its position

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3

**6. Python Sets**

A set is a collection which is unordered, unchangeable, and unindexed & do not allow duplicate values.

In [122]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [123]:
# Using the set() constructor to make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In [124]:
# Duplicate values will be ignored

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [125]:
# True and 1 is considered the same value

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'banana', 'cherry', 2, True, 'apple'}

In [126]:
# To determine how many items a set has, use the len() function

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

Access items : You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [127]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
cherry
apple

In [128]:
# Check if "banana" is present in the set

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [129]:
# Add an item to a set, using the add() method

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [130]:
# To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'cherry', 'mango', 'papaya', 'apple', 'pineapple'}

In [131]:
# The union() method returns a new set with all items from both sets

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [132]:
# Add elements of a list to at set

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'cherry', 'kiwi', 'orange', 'apple'}

In [133]:
# To remove an item in a set, use the remove(), or the discard() method.
# If the item to remove does not exist, remove() will raise an error.

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [134]:
# If the item to remove does not exist, discard() will NOT raise an error.

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [135]:
# Remove a random item by using the pop() method

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [136]:
# The clear() method empties the set

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [137]:
# The del keyword will delete the set completely

thisset = {"apple", "banana", "cherry"}
del thisset
# print(thisset)

In [138]:
# The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [139]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [140]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'cherry', 'google', 'microsoft'}

In [141]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [142]:
# Return True if all items set y are present in set x

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [143]:
# Return True if all items in set x are present in set y

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

**7. Python Dictionaries**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [144]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>

In [145]:
# To determine how many items a dictionary has, use the len() function

print(len(thisdict))

3

In [146]:
# It is also possible to use the dict() constructor to make a dictionary.

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [147]:
# You can access the items of a dictionary by referring to its key name, inside square brackets

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [148]:
# There is also a method called get() that will give you the same result

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [149]:
# The keys() method will return a list of all the keys in the dictionary.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [150]:
# The values() method will return a list of all the values in the dictionary.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [151]:
# Add a new item to the original dictionary

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [152]:
# The items() method will return each item in a dictionary, as tuples in a list.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [153]:
# Add a new item to the original dictionary, and see that the items list gets updated as well

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [154]:
# To determine if a specified key is present in a dictionary use the in keyword

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [155]:
# The pop() method removes the item with the specified key name

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [156]:
# The del keyword removes the item with the specified key name

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [157]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
# print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [158]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [159]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [160]:
# Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [162]:
# A dictionary can contain dictionaries, this is called **nested dictionaries**.

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

Tobias